body{
	margin: 0;
}

.hidden{
	display: none;
}

.rosso{
	color: darkred;
	opacity: 0.8;
}

nav{
	display: flex;
	background-color:red;
	opacity: 0.9;
	height: 40px;
	justify-content: flex-end;
	align-items: center;
	font-size: 14px;
} 
	
#second{
	display: flex;
	font-size: 90%;
	font-family: "Roboto Condensed", sans-serif;
	gap: 18px;
	margin: 0 15%;
}

#second a{
	color: white;	
}

#second a:link{
	text-decoration: none; 
}
	
header{
	height: 10vh;
	background-color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	position: relative;
	padding: 2% 6% 2% 10%;
}

header .figli-header{
	display: flex;
}

#menu-profilo #menu, #menu-profilo #profilo{
	display: none;
}

#menu div{
	width: 25px;
	height: 3px;
	background-color: slategrey;
	margin: 5px 10px;
}
	
#logo{
	mix-blend-mode: multiply;
	display: flex;
	align-items: stretch;
	height: 100%;
}

#logo img{
	background-color: transparent;
}

#barra-altro{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 50vw;
}

#barra-altro input{
	height: 8.5vh;
	width: 35vw;
	font-size: 1em;
}

#barra-altro a{
	padding: 1.5%;
	color: black;
	opacity: 0.8;	
	font-family: "Roboto condensed", sans-serif;
	font-size: 1em;
}

#barra-altro em{
	position: absolute;
	padding:5%;
	right: 10vw;
	color: green;
	top: 18%;
	font-size: 1em;
}	

#icone{
	height: 60%;
	width: 25%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	color: white;
	-webkit-text-stroke: 1.5px black;
	font-size: 26px;
	padding: 1.5%;
}

#icone a{
	margin: 0 -6.5%;
	color: white;
}

#under-header{
	height: auto;
	display: flex;
	background-color: white;
	justify-content: space-evenly;
	align-items: flex-end;
	font-size: 16px;
	padding: 0 10%;
}

#under-header a{
	color: black;
	opacity: 0.8;
	font-family:"Work Sans", sans-serif;
	font-size: 80%;
	margin: 0.8%;
}
	
#under-header a:hover{
color: red;
}

#under-header a:link{
	text-decoration: none;
}
	
#under-header #solo-mobile{
display: none;
}

section{
	height: 70vh;
	background-color: beige;
	background-image: url('./overlay.png');
	background-size: cover;
	height: 600px;
	position: relative;
}

#overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}
	
#undersection{
	display: flex;
	height: 40vh;
	justify-content: space-between;
	align-items: stretch;
}

#undersection .us-items{
	display: flex;
	width: 35vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	mix-blend-mode: multiply;
	font-size: 20px;
}

.us-items img{
	height: 80%;
	width: 70%;
	background-color: lightgrey;
}

.us-items a{
	color: black;
	opacity: 0.8;
	font-weight: bolder;
}
	
.us-items a:link{
	text-decoration: none;
}

.us-items a:hover{
	text-decoration: underline;
}

#classifica{
	display: flex;
	height: 25vh;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: "Roboto Condensed", sans-serif;
	color: black;
	opacity: 0.8;
	font-size: 23px;
}

#classifica #sezioni{
	display: flex;
	width: 40%;
	font-size: 1.2em;
	font-weight: 700;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: -2% 0 5% 0;
}

#sezioni div{
	cursor: pointer;
}

#immagini{
	display: flex;
	height: auto;
	justify-content: space-evenly;
	align-items: stretch;
	margin: 0 0 5% 0;
}

#immagini img, #immagini strong{
	cursor: pointer;
}

#immagini img:hover{
	opacity: 0.7;
}

#immagini #first{
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #f0f0f0;
	mix-blend-mode: multiply;
	min-width: 40%;
}

#first #div1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	gap: 20%;
	height: auto;
	max-width: 40%;
	object-fit: contain;
}

#first #div1 strong{
	font-size: 1.7em;
	color: darkred;
	opacity: 0.9;
}

#first #div2{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}


#others strong{
	font-size: 1.2em;
	opacity: 0.8;
}

#immagini #others{
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: stretch;
	align-items: flex-start;
	mix-blend-mode: multiply;
}


.libri{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.info{
	display: flex;
	flex-direction: column;
	padding: 5% 4%;
	align-items: flex-start;
	gap: 3%;
}

.info a, #first a{
	color: black;
	opacity: 0.8;
	font-size: 1.2em;
}

.info a:link, #first a:link{
	text-decoration: none;
}

footer{ 
	background-color: darkslategrey;
	height: 80%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
	
footer .footer-items{
	width: 35vw;
	border: 2px solid transparent;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position:relative;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	padding: 1%;
	flex: 1;
}

.fratelli h1{
	font-size: 100%;
	color: white;
	padding: 1%;
	align-self: flex-start;
}

.fratelli a{
	color: white;
	font-size: 80%;
}

.fratelli a:link{
	text-decoration: none;
}

.fratelli a:hover{
	text-decoration: underline;
}


/*MOBILE*/

@media (max-width: 1000px){
	
	nav{
		display: none;
	}
	
	#second{
		display: none;
	}
	
	header{
		height: 10vh;
		background-color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: -2%;
		position: relative;
		padding: 2% 5%;
		
	}
	
	#logo{
		position: absolute; 
		left: 50%;
		transform: translateX(-50%); 
		width: 120px;
		z-index: 1; 
		mix-blend-mode: multiply;
	}
	
	#logo img{
		max-width: 90%;
		height: auto;
		background-color: transparent;
	}
	
	#menu-profilo{
		display: flex;
		height: auto;
		justify-content: flex-start;
		align-items: stretch;
	}
	
	#menu-profilo #menu, #menu-profilo #profilo{
		display: block;
		height: auto;
	}
	
	#menu-profilo #profilo{
		color: white;
		-webkit-text-stroke: 1.5px black;
		width: auto;
		font-size: 1.25em;
		margin: -2.5% 0;
	}
	
	
	#icone{
		width: auto;
		display: flex;
		justify-content: flex-end;
		align-items: stretch;
		flex-wrap: nowrap;
		
	}
	
	#icone a{
		margin: 0 10px;
	}
	
	#under-header a, #barra-altro, #icone #profilo{
		display: none;
	}
	
	#under-header{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		height: 15vh;
		
	}
	
	#under-header #solo-mobile{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: auto;
	}
	
	#solo-mobile input{
		width: 90vw;
		height: 8vh;
	}
	
	#solo-mobile em{
		color: green;
	}
	
	section{
		height: 70vh;
		background-color: beige;
		background-image: url('./overlay-mobile.png');
		background-size: 100% 100%;
		height: 420px;
		position: relative;
	}

	#overlay{
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
	}
	
	#undersection{
		display: flex;
		height: 40vh;
		justify-content: space-between;
		align-items: stretch;
	}

	#undersection .us-items{
		display: flex;
		width: 35vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		mix-blend-mode: multiply;
		font-size: 14px;
	}

	.us-items img{
		height: 60%;
		width: 75%;
		background-color: lightgrey;
	}

	.us-items a{
		color: black;
		opacity: 0.8;
		font-weight: bolder;
		margin: 3px;
	}
	
	#classifica{
		display: flex;
		height: auto;
		font-size: 15px;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 95%;
	}
	
	#sezioni{
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-width: 80%;
		font-size: 1.4em !important;
	}
	
	#immagini{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: auto;
	}
	
	#first{
		display: flex !important;
		flex-direction: row !important;
		justify-content: space-around !important;
		align-items: center !important;
		margin: 0 0 4% 0;
		font-size: 0.9em;
		min-width: 50%;
		padding: 0 0 0 3%;
	}
	
	#first #div1{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: flex-start;
		font-size: 15px;
		margin: 2% 0;
	}
	
	#first #div1 img{
		height: 150px;
		
	}
	
	footer{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0 10%;
		background-color: darkslategrey;
		color: white;
		font-size: 45%;
		font-family: "Roboto Condensed", sans-serif;
		
	}
	
	.fratelli a{
		display: none;
	}
	
	
}